# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
xmx.sublime-project
xmx.sublime-workspace
sites/all/modules/.DS_store

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
